<!DOCTYPE html>
<html lang="en" layout:decorate="~{base.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>View Accounts</title>
</head>
<body>
<main class="container mt-4" layout:fragment="content" role="main">
    <div class="card">
        <div class="card-header">
            Accounts Overview
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/}" method="get" class="mb-4">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="accountType" class="col-form-label">Account Type:</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="accountType" name="accountType" class="form-control" placeholder="Enter account type">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </form>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Account Code</th>
                        <th scope="col">Display Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Type</th>
                        <th scope="col">Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="account : ${accounts}">
                        <td th:text="${account.accountCode}"></td>
                        <td th:text="${account.displayName}"></td>
                        <td th:text="${account.username}"></td>
                        <td th:text="${account.type}"></td>
                        <td th:text="${account.balance}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>
