<!DOCTYPE html>
<html lang="en" layout:decorate="~{base.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>View Employees</title>
</head>
<body>
<main class="container mt-4" layout:fragment="content" role="main">
    <div class="card">
        <div class="card-header">
            Employees Overview
        </div>
        <div class="card-body">
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Employee ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.employeeId}">Employee ID</td>
                        <td th:text="${employee.name}">Name</td>
                        <td th:text="${employee.department}">Department</td>
                        <td>
                            <a class="btn btn-primary btn-sm"
                               th:href="@{/employees/{employeeId}(employeeId=${employee.employeeId})}">View</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>
