<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base.html}" lang="en">
<head>
    <title>View Accounts</title>
</head>
<body>
<main role="main" class="container mt-4" layout:fragment="content">
    <div class="card">
        <div class="card-header">
            Accounts Overview
        </div>
        <div class="card-body">
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Account Code</th>
                        <th scope="col">Username</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="account : ${accounts}">
                        <td th:text="${account.accountCode}">Account Code</td>
                        <td th:text="${account.username}">Username</td>
                        <td th:text="${account.balance}">Balance</td>
                        <td>
                            <a th:href="@{/admin/accounts/{accountCode}(accountCode=${account.accountCode})}"
                               class="btn btn-primary btn-sm">View</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>
